body {
  font-family: 'Bona Nova', serif !important;
  background: rgb(214, 209, 209) !important;
  color: black !important;
}

.text-title {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue{
  color: blue;
}

.text-light {
  color: lightblue;
  
}

